/* universal */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* root elements */
:root{
    --white: #FFFFFF;
    --black: #1C1C1C;
    --gray: #585757;
    --lighter-gray: #545454;
    --light-gray: #969696;
    --disable-gray: #DBDBDB;
    --primary: #24AFB5;
}

/* Nav bar */
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.nav-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
}

.nav-items:hover{
    color: var(--primary);
    transition: .3s ease-out;
    text-shadow: 0px 2px 5px var(--primary);

}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items-sm{
    display: none;
}

/* Header part */
.header{
    margin-top: 8%;
    width: 100%;
}

.header-container{
    display: flex;
    border-bottom: 1px solid var(--disable-gray);
}

/* Left head part */
.left-header-content{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-left-head-content{
    width: 60%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
}

.head-h1{
    color: var(--black);
    letter-spacing: -1.2px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.left-header-para-sm{
    display: none;
}

.left-header-para, .left-header-para-sm{
    color: var(--gray);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.3px;
}

.form{
    width: 100%;
}

.form > input{
    color: var(--gray);
    width: 100%;
    border: 1px solid var(--disable-gray);
    outline: none;
    margin-bottom: 10px;
    padding: 9px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border-radius: 6px;
}

.form > button{
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
    padding: 11px 16px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.left-header-sm-para{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
}

/* Right head part */
.right-header-content{
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.half-pixsellz-img{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* Main Section */

/* section 1 */
.section-1{
    border-bottom: 1px solid var(--disable-gray);
    padding: 8% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-container{
    width: 50%;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.section-1-img{
    text-align: center;
}

.section-1-para, .section-1-para-sm{
    color: var(--gray);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.3px;
}

.section-1-para-sm{
    display: none;
}

/* section 2 */
.section-2{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.section-2-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* section 2 - left side */
.left-section-2-content{
    flex-basis: 40%;
    display: grid;
    grid-row-gap: 40px;
}

.message-content{
    display: grid;
    grid-row-gap: 10px;
}

.sm-star-content{
    display: flex;
    gap: 15px;
}

.sec2-bold-txt{
    color: var(--black);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.star-content, .star-content-sm{
    color: var(--lighter-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.star-content-sm{
    display: none;
}

/* section 2 - right side */
.right-section-2-content{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--disable-gray);
    padding: 18% 0%;
    border-radius: 8px;
}

/* Section 3 */
.section-3{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.section-3-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.progress-img{
    flex-basis: 10%;
}

/* progress percentage */
.progress-percentage{
    flex-basis: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.sub-percents{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 20px;
}

.sub-percents-1{
    margin-top: 10px;
    height: 24px;
    width: 24px;
    background-color: var(--primary);
    border-radius: 50%;
}

.progress-percentage > .sub-percents:nth-child(2) > .sub-percents-1{
    background: rgba(36, 175, 181, 0.2);
}

.progress-percentage > .sub-percents:nth-child(3) > .sub-percents-1{
    background-color: var(--disable-gray);
}

.progress-percentage > .sub-percents:last-child > .sub-percents-1{
    background-color: #F7F7F7;
}

.sub-percents-2{
    margin-bottom: 12px;
}

.bold-no{
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.light-no{
    color: var(--lighter-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.progress-para{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress-dark-para{
    color: var(--lighter-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.progress-light-para{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

/* Section 4 */
.section-4{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.section-4-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

.sec-4-top-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bold-txt, .bold-txt-sm{
    color: var(--black);
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}


.bold-txt-sm, .lighter-content-sm{
    display: none;
}

.lighter-content, .lighter-content-sm{
    color: var(--gray);
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* section 4 star content */
.sec-4-wrap-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.sub-sec-4-img{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sec-4-bottom-img{
    display: flex;
    align-items: flex-end;
}

/* Section 5 */
.section-5{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.section-5-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.quotes-carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-btn, .right-btn{
    cursor: pointer;
    padding: 18px 23px;
    border: 1px solid var(--disable-gray);
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.carousel-content{
    flex-basis: 60%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray);
}

.google-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.charlie-mendoza{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lg-txt{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.sm-txt{
    color: var(--lighter-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.learn-more{
    color: var(--primary);
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.sm-pointers{
    display: none;
}

.dot{
    height: 8px;
    width: 8px;
    background-color: var(--disable-gray);
    border-radius: 50%;
}

.dot:nth-child(2){
    background-color: var(--primary);
}

/* Section 6 */
.section-6{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.card-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    padding: 50px 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
}

.relative-card{
    position: relative;
}

.bold-sm{
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.bold-lg{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.bold-lg-center{
    display: flex;
    align-items: center;
    gap: 9px;
}

.sub-txt{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.sm-card-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.light-txt{
    color: var(--lighter-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.card-btn{
    cursor: pointer;
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: var(--white);
    border: 1px solid var(--disable-gray);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding: 11px 16px;
}

.btn-border{
    border: 3px solid var(--light-gray);
    height: 18px;
    width: 18px;
    border-radius: 6px;
}

.lighter-txt{
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--light-gray);
}

.absolute-top{
    display: none;
    color: var(--white);
    position: absolute;
    top: -1px;
    right: -1px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    padding: 2px 6px;
    background: var(--primary);
    border-radius: 6px;
}

/* Hover ffexcts */
.card:hover {
    cursor: pointer;
    border-color:   var(--primary);
    transition: .3s;
}

.card:hover > .absolute-top{
    display: block;
    transition: .3s;
}

.card:hover > .card-btn{
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
    transition: .3s;
}

.card:hover > .card-btn > span{
    border-color: var(--white);
    transition: .3s;
}

/* Section 7 */
.section-7{
    border-bottom: 1px solid var(--disable-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.section-7-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.sec-7-left-content{
    width: 40%;
}

.sec-7-heading{
    color: var(--black);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.sec-7-content{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.sec-7-right-content{
    width: 50%;
    display: flex;
    align-items: center;
}

.sec-7-right-content > form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec-7-input{
    color: var(--light-gray);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 0px 9px 15px;
    border: 1px solid var(--disable-gray);
    border-radius: 6px;
    outline: none;
    width: 100%;
}

.sec-7-btn{
    cursor: pointer;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 11px 16px;
    border: 1px solid var(--primary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}

/* Footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
    border-bottom: 1px solid var(--disable-gray);
}

.footer-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.logo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer-mid-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.footer-menu-items{
    cursor: pointer;
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    flex-basis: 20%;
    text-align: center;
    height: 40px;
}

.footer-menu-items:hover{
    color: var(--primary);
    transition: .3s;
    text-shadow: 0px 2px 5px var(--primary);
}

.footer-light{
    color: var(--light-gray);
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.footer-icons{
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.footer-icons > img:hover{
    transform: translateY(-3px);
    transition: .5s;
}

/* tablet screen 768px */
@media screen and (max-width: 768px){

    /* Nav bar */
    .nav-items{
        font-size: 10px;
    }

    .logo{
        width: 80%;
    }

    /* Header part */
    .header-container{
        flex-direction: column-reverse;
    }

    .sub-left-head-content{
        width: 90%;
        margin: 30px 0;
    }

    .half-pixsellz-img{
        width: 95%;
    }

    /* Main Section */

    /* section 1 */
    .section-1-container{
        width: 90%;
    }

    /* section 2 */
    .section-2-container{
        width: 90%;
        flex-direction: column;
        gap: 2rem;
    }

    /* section 2 - left side */
    .star-content{
        display: none;
    }

    .star-content-sm{
        display: block;
    }

    /* section 2 - right side */
    .right-section-2-content {
        padding: 25% 50%;
        border-radius: 6px;
    }

    /* Section 3 */
    .section-3-container{
        width: 90%;
    }

    .progress-para{
        flex-basis: 100%;
    }

    /* Section 4 */
    .section-4-container{
        width: 100%;
    }

    .sec-4-top-content{
        width: 80%;
    }

    .sec-4-bottom-img{
        width: 90%;
    }

    /* Section 5 */
    .section-5-container{
        width: 90%;
    }

    .sm-pointers{
        display: flex;
        justify-content: space-between;
        gap: 6px;
    }

    .left-btn, .right-btn{
        display: none;
    }
    
    .carousel-content{
        flex-basis: 100%;
    }

    /* section 6 */
    .card-container{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .card{
        width: 90%;
    }

    /* Section 7 */
    .section-7-container{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .sec-7-left-content, .sec-7-right-content{
        width: 100%;
    }

    .sec-7-right-content {        
        justify-content: center;
    }

    /* Footer */
    .footer-container{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .footer-mid-content{
        width: 100%;
    }
}

/* Mobile screen 320px*/
@media screen and (max-width: 540px){

    /* Nav bar */
    .nav-bar{
        padding: 15px 0;
    }

    .nav-container{
        width: 90%;
    }

    .nav-items{
        display: none;
    }

    .nav-items-sm, .logo-container{
        display: block;
    }

    /* Header part */
    .head-h1{
        font-size: 36px;
    }

    .left-header-para-sm{
        display: block;
    }

    .left-header-para{
        display: none;
    }

    /* Main Section */

    /* section 1 */
    .section-1-container{
        width: 95%;
    }

    .section-1-para{
        display: none;
    }

    .section-1-para-sm{
        display: block;
    }

    /* Section 4 */
    .bold-txt, .lighter-content{
        display: none;
    }
    
    .bold-txt-sm, .lighter-content-sm{
        display: block;
    }

    .bold-txt-sm{
        font-size: 36px;
    }

    .sec-4-bottom-img{
        width: 95%;
    }

    /* section 7 */
    .sec-7-right-content > form{
        width: 100%;
    }

    .sec-7-input{
        width: 100%;
        margin-bottom: 10px;
    }

    .sec-7-right-content > form{
        width: 100%;
        display: block;
        gap: 0px;
    }
}